<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hope Edu Clone</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  <!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>-->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/6.2.0/foundation.min.css" type="text/css" />
  <link rel="stylesheet" href="main.css" type="text/css" />
</head>
  <body>
    <main ng-app='app' ng-controller='MainCtrl'>
    <div class="row">
      <div class="columns large-12 medium-12 small-12">
        <h1>DIRECTORY</h1>
        <input id='search_field' type="search" placeholder='Search the directory..' ng-model='searchText' />
      </div>
    </div>
    <div id="mainContent">
      <div class="col">
        <div class="inner">
          <h4>Academic Programs</h4>
  
  
          <div class="sectionContainer closed" ng-repeat='program in programs | filter:searchText'>
            <p><a href="#" class='dept-head'>{{ :: program.name }}</a></p>
            <ul class="hiddenSub">
              <li ng-if="program.email">{{ :: program.email }}</li>
              <li ng-if="program.building">Building {{ :: program.building }}</li>
              <li ng-if="program.phone">Phone: {{ :: program.phone }}</li>
              <li><a ng-href="{{program.more_info_url}}">More Info</a></li>
            </ul>
          </div>
        </div>
        <!-- end .inner -->
      </div>
      <!-- end .col -->
  
      <div class="col">
        <div class="inner">
          <h4>Offices &amp; Administration Services</h4>
          <div class="sectionContainer closed" ng-repeat='dept in offices_services | filter:searchText'>
            <p><a href="#" class='dept-head'>{{ :: dept.name}}</a></p>
            <ul class="hiddenSub">
              <li>Phone: {{ :: dept.phone}}</li>
              <li ng-if="dept.email">Email: {{ :: dept.email}}</li>
              <li><a ng-href={{dept.map_url}} target="_blank">Building: {{ :: dept.building }}</a></li>
              <li><a ng-href={{dept.more_info_url}} target="_blank">More Info</a></li>
            </ul>
          </div>
        </div><!-- end .inner -->
      </div><!-- end .col -->
  
      <div class="col">
        <div class="inner">
          <h4>Buildings &amp; Facilities</h4>
  
          <div class="sectionContainer closed" ng-repeat='building in buildings_facilities | filter:searchText'>
            <p><a href="#" class='dept-head' ng-if="building.code">{{ building.code + ' - ' + building.name }}</a></p>
            <p><a href="#" class='dept-head' ng-if="!building.code">{{ building.name }}</a></p>
            <ul class='hiddenSub'>
              <li class="itemHeading">Building {{ building.code }}</li>
              <li>
                <a href="#" ><img ng-src="http://codeovermatter.com/hope-edu/images/maps/map3.jpg" /></a>
                <a class="viewFullMap" ng-href="{{ building.map_url }}" target='_blank'>View Full Map</a>
              </li>
             
            </ul>
          </div>
        </div><!-- end .inner -->
      </div><!-- end .col -->
  
      <div class="col">
        <div class="inner">
          <h4>People</h4>
          <select name='selected_dept' ng-model='data.selected_dept'>
            <option ng-selected='true'>SELECT A DEPARTMENT</option>
            <option ng-repeat='dept in department_list | filter:searchText' value="{{dept.id}}">{{dept.dept_name}}</option>
          </select>
          
          
  <!--   Each Person's information  -->
          
          <div class="sectionContainer closed" ng-repeat='person in department_list[data.selected_dept].people | filter: searchText'>
            <p>
              <a href="#" class='dept-head'>{{ person.fname + ' ' + person.lname }}</a>
            </p>
             <ul class="hiddenSub">
              <li>{{department_list[data.selected_dept].dept_name}}</li>
              <li>
                {{buildings_facilities[0].address}}<br />{{buildings_facilities[0].city + ', '}} {{buildings_facilities[0].state+' '}} {{buildings_facilities[0].zip}}
              </li>
              <li>Building {{ buildings_facilities[0].building }}</li>
              <li>Phone: {{ buildings_facilities[0].phone }}</li>
              <li>Fax: {{ buildings_facilities[0].fax }}</li>
            </ul>
     
          </div>
          
                
  <!-- End of Person's information  -->  
          
        </div><!-- end .inner -->
      </div><!-- end .col -->
      
    </div>
  </main>
  <!-- end #mainContent -->
  <script type="text/javascript" src="app.js"></script>
  </body>
</html>